.add-city-form {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid black;
	width: 400px;

	&__title {
		margin-bottom: 10px;
		font-weight: bold;
		font-size: 18px;
	}

	&__row {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		margin-bottom: 5px;
	}
}
