<template>
	<form
		class="add-city-form"
		@submit.prevent="onFormSubmit">
		<div class="add-city-form__title">
			Добавить город
		</div>
		<div class="add-city-form__row">
			<label class="add-city-form__label">Название</label>
			<input
				v-validate="'required'"
				v-model="form.name"
				:class="{'input--error': errors.has('addCityForm.name')}"
				data-vv-name="name"
				data-vv-as="Название"
				data-vv-scope="addCityForm"
				type="text"
				class="add-city-form__input input">
		</div>
		<div class="add-city-form__row">
			<label class="add-city-form__label">Температура</label>
			<input
				v-validate="'required'"
				v-model="form.temperature"
				:class="{'input--error': errors.has('addCityForm.temperature')}"
				data-vv-name="temperature"
				data-vv-as="Температура"
				data-vv-scope="addCityForm"
				type="text"
				class="add-city-form__input input">
		</div>
		<div class="add-city-form__row">
			<label class="add-city-form__label">Ветер</label>
			<input
				v-validate="'required'"
				v-model="form.wind"
				:class="{'input--error': errors.has('addCityForm.wind')}"
				data-vv-name="wind"
				data-vv-as="Ветер"
				data-vv-scope="addCityForm"
				type="text"
				class="add-city-form__input input">
		</div>
		<div class="add-city-form__row">
			<label class="add-city-form__label">Давление</label>
			<input
				v-validate="'required'"
				v-model="form.pressure"
				:class="{'input--error': errors.has('addCityForm.pressure')}"
				data-vv-name="pressure"
				data-vv-as="Давление"
				data-vv-scope="addCityForm"
				type="text"
				class="add-city-form__input input">
		</div>
		<div class="add-city-form__row">
			<input
				type="submit"
				value="Добавить">
		</div>
	</form>
</template>

<style lang="scss" src="./_add-city-form.scss"></style>

<script>
    export default {
        name: 'AddCityForm',

        data() {
            return {
            	form: {
            		name: null,
					temperature: null,
					weather: null,
					pressure: null
				}
			}
        },

		methods: {
			async onFormSubmit() {
				const result = await this.$validator.validateAll('addCityForm');
				if (result) {
					this.$emit('add-city', this.form);
					this.form = this.$options.data().form;
				}
			}
		}
    }
</script>
