$pager-page-bg-color: orangered !default;
$pager-page-active-bg-color: #ff8610 !default;
$pager-page-disabled-bg-color: grey !default;

.pager {
	display: flex;
	user-select: none;

	&__page {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		flex: 0 0 30px;
		background-color: $pager-page-bg-color;
		margin: 0 2px;
		color: black;
		border: none;

		&:hover:not(:disabled) {
			cursor: pointer;
		}

		&:disabled {
			background-color: $pager-page-disabled-bg-color;
		}

		&--active {
			background-color: $pager-page-active-bg-color;
			cursor: default;
		}
	}
}
