<template>
    <div class="pager">
		<button
			:disabled="disablePrevArrow"
			class="pager__page"
			@click="setPrevPage">
			◄
		</button>

		<button
			v-for="page in pagesArray"
			:key="page"
			:class="{'pager__page--active': pager.page === page}"
			class="pager__page"
			@click="setActivePage(page)">
			{{ page + 1 }}
		</button>

		<button
			:disabled="disableNextArrow"
			class="pager__page"
			@click="setNextPage">
			►
		</button>
	</div>
</template>

<style lang="scss" src="./_paginator.scss"></style>

<script>
    export default {
        name: 'Paginator',
		props: {
			visible: {
				type: Number,
				default: 3
			},
			pager: {
				type: Object,
				required: true
			}
		},

        data() {
            return {}
        },

		computed: {
        	// первая страница в отрезке
        	startPage() {
        		const pagesAround = Math.floor((this.visible - 1) / 2);
        		const startPage = this.pager.page - pagesAround;
				return startPage > 0 ? startPage : 0;
			},
			// последняя страница в отрезке
			endPage() {
				const pagesAround = Math.ceil((this.visible - 1) / 2);
				return this.pager.page + pagesAround + 1;
			},
        	pagesArray() {
        		const arr = new Array(this.pager.pagesCount);
        		return [...arr.keys()].slice(this.startPage, this.endPage);
			},
			disablePrevArrow() {
        		return this.pager.page <= 0;
			},
			disableNextArrow() {
				return this.pager.page >= this.pager.pagesCount - 1;
			}
		},

		methods: {
        	setActivePage(page) {
				this.$emit('set-page', page);
			},
			setPrevPage() {
        		if (this.pager.page > 0)
        			this.setActivePage(this.pager.page - 1);
			},
			setNextPage() {
        		if (this.pager.page < this.pager.pagesCount)
					this.setActivePage(this.pager.page + 1);
			}
		}
    }
</script>
