<template>
	<section class="cities-page">
		<template v-if="cities.length > 0">
			<date-table
				:rows="citiesOnPage"
				class="cities-page__table"
				@delete-row="deleteCity"/>

			<div>
				Отображено {{ citiesOnPage.length }} городов из {{ cities.length }}
			</div>

			<paginator
				:pager="pager"
				:visible="3"
				@set-page="setActivePage"/>

		</template>

		<span v-else>
			Список городов пуст
		</span>

		<add-city-form
			class="cities-page__form"
			@add-city="addCity"/>
	</section>
</template>

<style lang="scss" src="~/assets/scss/_cities-page.scss"></style>

<script>
	import dateTable from '@/components/DateTable';
	import paginator from '@/components/Paginator';
	import addCityForm from '@/components/AddCityForm'
	import {mapGetters, mapState} from 'vuex';

	export default {
		components: {dateTable, paginator, addCityForm},

		data() {
			return {}
		},

		computed: {
			...mapGetters({
				pager: 'pager',
				citiesOnPage: 'citiesOnPage'
			}),
			...mapState({
				cities: state => state.cities
			})
		},

		methods: {
			setActivePage(page) {
				this.$store.dispatch('setPage', page);
			},
			deleteCity(cityName) {
				this.$store.dispatch('deleteCity', cityName);
			},
			addCity(city) {
				this.$store.dispatch('addCity', city);
			}
		}
	}
</script>
