$data-table-header-color: antiquewhite !default;
$data-table-border-color: black;

.data-table {
	&__row {
		display: flex;
		border: 1px solid $data-table-border-color;

		&--header {
			background-color: $data-table-header-color;
		}
	}

	&__col {
		flex-grow: 1;
		flex-basis: 0;
		padding: 0 5px;
		&:not(:last-child) {
			border-right: 1px solid $data-table-border-color;
		}
	}
}
