<template>
	<div class="data-table">
		<div class="data-table__row data-table__row--header">
			<div class="data-table__col">Название</div>
			<div class="data-table__col">Температура</div>
			<div class="data-table__col">Ветер</div>
			<div class="data-table__col">Давление</div>
			<div class="data-table__col">Управление</div>
		</div>

		<div
			v-for="row in rows"
			:key="row.name"
			class="data-table__row">
			<div class="data-table__col">{{ row.name }}</div>
			<div class="data-table__col">{{ row.temperature }}</div>
			<div class="data-table__col">{{ row.wind }}</div>
			<div class="data-table__col">{{ row.pressure }}</div>
			<div class="data-table__col">
				<button @click="$emit('delete-row', row.name)">Удалить</button>
			</div>
		</div>
	</div>
</template>

<script>
    export default {
        name: 'DataTable',
		props: {
        	rows: {
        		type: Array,
				default: () => ([])
			}
		},
        data() {
            return {}
        }
    }
</script>

<style lang="scss" src="./_date-table.scss"></style>
